
body,html {
    height:100%;
    margin: 0; 
    background-image: url("../images/full-bloom.png");
}

* {
    box-sizing: border-box;    
}

.content {
    min-height:100%;
    margin-bottom: -50px;
}

.content-inside {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px auto 0px auto;
    padding-top: 40px;
    padding-bottom: 40px; 
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fff;
    width:960px;
    min-height: 400px;
    border-style: line;
    border-color:#dddddd;
    
}

#Bio_Photo{
   height: 100px;
   width: 100px; 
   float: left;
   padding-right: 5px;
}
p{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 200%;
    font-size: 18px;
}

.topnav{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color:#cccccc;
    background-color: #ffffff; 
}

#nav_border header {
    width: 960px;
    margin: 0 auto;
    position: relative;
    border-top-color: #777777;
    border-bottom-color: #777777;
}

#left {
    background-color:#4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: 900;
    color: white;
    padding: 20px;
    height: 85px;
    text-align: center;
    display: inline-block;
}

#page_links {
    position: absolute;
    right: 0px;
    display: inline-block;
    line-height: 20px;
    padding-top: 30px;
}

#page_links a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
    border-left: solid 1px #cccccc;
    display: inline-block;
    padding: 0 10px;
}

#page_links a:first-child{
    border: none;
}
/*why are you not working??????*/

a:link { text-decoration: none; }

#page_links a:visited, a:visited { color: #053f3c }

#page_links a:hover, a:hover {
    background-color: #4aaaa5;
    color: #fff;
}

#page_links a:active, a:active { color:pink; }



.greyline{
    background-color: #cccccc;
    height: 2px;
    padding: 0%;
    margin-top: 20px;
    margin-bottom: 20px;
}


h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: 900;
    color: #4aaaa5;
    background-color: white;
    margin: 0;
    padding-bottom: 12.5px;
    padding-top:    2.5px;
    display:table-cell; 
    vertical-align:middle;
}
.typl8-drop-cap:first-letter {
    float: left;
    padding-left: 5px;
    font-size: 4em;
    font-family: inherit;
    line-height: 1;
    text-indent: 0;
    background: transparent;
    color: inherit;
}
abbr, acronym {
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}




.push {
    height: 58px;
}

footer.footer {
    position: sticky;
    background-color:#666666;
    color: #fff;
    height: 50px;
    border-top: solid #4aaaa5 8px;
    text-align: center;
    vertical-align: bottom;
}    


